# **25 T-SQL Tips!**

Listed below are SQL (Structured Query Language) tips. SQL is a standard language that enables user to manage data, define structures, query information and maintain data in database. Within SQL, there are four key subsets of queries.

1. DML - Data Manipulation Language deals with modifying and manipulation of data.
    
    - INSERT
    - UPDATE
    - DELETE
2. DQL - Data Query Language deals with querying and retreiving of data. _\[focus point for the tips below\]_
    
    - SELECT
3. DDL - Data Definition Language deals with defining and managing the structure of data.
    
    - CREATE
    - ALTER
    - DROP
4. TCL - Transaction Control Language deals with managing transactions within the database.
    
    - COMMIT
    - ROLLBACK
    - SAVEPOINT
    - SET\_Transaction

These tips are focused on retreiving a useful       data which is called _**DQL (Data Query Language)**_ and the database '_**AdventureWorks2022**_' is used to run these.

Each tip starts with an explanation on the query listed, followed by a code block with the ready to use code and lastly the same code retreiving the TOP 3 to 5 records along with the output.

To practise, copy and paste the query from the code block to a DBMS tool of choice. The database, _AdventureWorks2022_ which is publicly available has to be restored prior to executing the query.

The difficulty level of a query is indicated as below. 

- <span style="color: var(--vscode-foreground);">EASY&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -&nbsp;🟢</span>
- <span style="color: var(--vscode-foreground);">MEDIUM&nbsp; &nbsp; &nbsp; -&nbsp;🟡</span>
- <span style="color: var(--vscode-foreground);">HARD&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;-&nbsp;🟠</span>
- <span style="color: var(--vscode-foreground);">ADVANCED&nbsp; -&nbsp;🔴 (This is for future editions)</span>

# **🟢⚡️ Tip 1 - Simple SELECT with WHERE to filter**

This is a simple SELECT query to retreive records FROM HumanResources.Department table. By using WHERE clause, we can filter required group.

In SQL, "--" are used at the begginning of any line or text to comment and they are widely used to provide hints or explanations within the code block as the this text is ignored during execution. 

The syntax for any query is

SELECT column1\_name, column2\_name, etc

FROM table\_name

WHERE condition

```SQL
USE AdventureWorks2022;
GO

SELECT *
FROM HumanResources.Department --table name
--WHERE is used to filter records of choice on top of the data retrieved
WHERE GroupName = 'Research and Development'
;

```

In [17]:
USE AdventureWorks2022;
GO

SELECT TOP (3) *
FROM HumanResources.Department --table name
--WHERE is used to filter records of choice on top of the data retrieved
WHERE GroupName = 'Research and Development'
;

DepartmentID,Name,GroupName,ModifiedDate
1,Engineering,Research and Development,2008-04-30 00:00:00.000
2,Tool Design,Research and Development,2008-04-30 00:00:00.000
6,Research and Development,Research and Development,2008-04-30 00:00:00.000

# **🟢⚡️ Tip 2 - Multiple values filter under WHERE**

Similar to Tip-1, multiple records can be filtered under WHERE clause by using IN statement. Exact results can be used by using an OR - Logical operator. 

We will be looking into other operators through out the tips.

We have a different type of comment block shown in this example within /\*    \*/.  This type of comments are generally used when we need to include multiple lines of hints are explanations.

The syntax for any query is

SELECT column1\_name, column2\_name, etc

FROM table\_name

WHERE condition

```SQL
USE AdventureWorks2022;
GO

SELECT *
FROM HumanResources.Department
/*
WHERE GroupName = 'Research and Development'
    OR GroupName = 'Quality Assurance'
    OR GroupName = 'Manufacturing'
*/ -- Can be executed in a single line using keyword 'IN'
WHERE GroupName IN ('Research and Development', 'Quality Assurance', 'Manufacturing')
;

```

In [18]:
USE AdventureWorks2022;
GO

SELECT TOP (6) *
FROM HumanResources.Department
/*
WHERE GroupName = 'Research and Development'
    OR GroupName = 'Quality Assurance'
    OR GroupName = 'Manufacturing'
*/ -- Can be executed in a single line using keyword 'IN'
WHERE GroupName IN ('Research and Development', 'Quality Assurance', 'Manufacturing')
;

DepartmentID,Name,GroupName,ModifiedDate
1,Engineering,Research and Development,2008-04-30 00:00:00.000
2,Tool Design,Research and Development,2008-04-30 00:00:00.000
6,Research and Development,Research and Development,2008-04-30 00:00:00.000
7,Production,Manufacturing,2008-04-30 00:00:00.000
8,Production Control,Manufacturing,2008-04-30 00:00:00.000
12,Document Control,Quality Assurance,2008-04-30 00:00:00.000

# **🟢⚡️ Tip 3 - Sort records using ORDER BY**

The result set can be sorted in ascending or descending order by using ORDER BY clause. When an ORDER BY is used, the records are sorted in ascending (ASC) order by default. To change the sorting to descenting order, DESC is used in the end.

The syntax for any query is

SELECT column1\_name, column2\_name, etc

FROM table\_name

WHERE condition

ORDER BY <span style="color: var(--vscode-foreground);">column1_name DESC&nbsp;</span>    

```SQL
USE AdventureWorks2022;
GO

SELECT * 
FROM Sales.SalesTaxRate
ORDER BY TaxRate DESC --ASC
;

```

In [20]:
USE AdventureWorks2022;
GO

SELECT TOP (3) * 
FROM Sales.SalesTaxRate
ORDER BY TaxRate DESC --ASC
;

SalesTaxRateID,StateProvinceID,TaxType,TaxRate,Name,rowguid,ModifiedDate
30,84,3,19.60,France Output Tax,5446ea04-fa7c-4b02-a157-a05f44bf47b6,2008-04-30 00:00:00.000
31,14,3,17.50,United Kingdom Output Tax,abd185a9-5367-44e1-8a6e-71d083943f3c,2008-04-30 00:00:00.000
29,20,3,16.00,Germany Output Tax,78c8a559-4d0f-45b6-b7a3-e11ff9a702f4,2008-04-30 00:00:00.000

# **🟢⚡️ Tip 4 - Operators**

Operators are a reserved word or character used to query a condition in SQL and there are four types of operators.

1. Arithmetic operators **\--\>** +, -, \*, /, %
2. Logical operators **\--\>** ALL, AND, ANY, BETWEEN, EXISTS, IN, LIKE, NOT, OR, SOME
3. Compound operators **\--\>** +=, -+, \*=, /=, %=, &=, ^-=, |\*=
4. Comparison operators **\--\>** =, \>, \<, \>=, \<=, \<\>

 In this tip, we are using comparison operators _\\\>= and \<=_ to add a condition on filter. 

```SQL
USE AdventureWorks2022;
GO

SELECT *
FROM Sales.SalesTaxRate
WHERE (TaxRate >= 7)
    AND (TaxRate <= 15)
;

```

In [21]:
USE AdventureWorks2022;
GO

SELECT TOP (5) *
FROM Sales.SalesTaxRate
WHERE (TaxRate >= 7)
	AND (TaxRate <= 15)
;

SalesTaxRateID,StateProvinceID,TaxType,TaxRate,Name,rowguid,ModifiedDate
1,1,1,14.00,Canadian GST + Alberta Provincial Tax,683de5dd-521a-47d4-a573-06a3cdb1bc5d,2008-04-30 00:00:00.000
2,57,1,14.25,Canadian GST + Ontario Provincial Tax,05c4ffdb-4f84-4cdf-abe5-fdf3216ea74e,2008-04-30 00:00:00.000
3,63,1,14.25,Canadian GST + Quebec Provincial Tax,d4edb557-56d7-403c-b538-4df5e7302588,2008-04-30 00:00:00.000
4,1,2,7.00,Canadian GST,f0d76907-b433-453f-b95e-16fce73b807a,2008-04-30 00:00:00.000
5,57,2,7.00,Canadian GST,7e0e97a2-878b-476f-a648-05a3dd4450ed,2008-04-30 00:00:00.000

# **🟢⚡️ Tip 5 - Limit results using TOP and TOP WITH TIES**

Did you notice that from Tip 1, we have been retreiving TOP(n) records with each query under example output block? TOP is used to limit the number of rows in the result set. Similarly, TOP (n) WITH TIES is used to retrieve n number of records plus anyother records that match this set. 

For example, in the below <span style="color: var(--vscode-foreground);">query</span> <span style="color: var(--vscode-foreground);">we are trying to retreive four records but our result set have five records. This is because we used</span> TOP (n) WITH TIES <span style="color: var(--vscode-foreground);">and there are two records that ties with same TaxRate. To use</span> TOP(n) <span style="color: var(--vscode-foreground);">OR</span> TOP (n) WITH TIES <span style="color: var(--vscode-foreground);">we must to use an&nbsp;ORDER BY clause so our results set are meaningful.</span>

```SQL
USE AdventureWorks2022;
GO

SELECT TOP (4) WITH TIES* --Brings all records that matches the first 4 record's values, in this case TaxRate
FROM Sales.SalesTaxRate
ORDER BY TaxRate DESC
;

```

In [6]:
USE AdventureWorks2022;
GO

SELECT TOP (4) WITH TIES* --Brings all records that matches the first 4 record's values, in this case TaxRate
FROM Sales.SalesTaxRate
ORDER BY TaxRate DESC
;

SalesTaxRateID,StateProvinceID,TaxType,TaxRate,Name,rowguid,ModifiedDate
30,84,3,19.60,France Output Tax,5446ea04-fa7c-4b02-a157-a05f44bf47b6,2008-04-30 00:00:00.000
31,14,3,17.50,United Kingdom Output Tax,abd185a9-5367-44e1-8a6e-71d083943f3c,2008-04-30 00:00:00.000
29,20,3,16.00,Germany Output Tax,78c8a559-4d0f-45b6-b7a3-e11ff9a702f4,2008-04-30 00:00:00.000
2,57,1,14.25,Canadian GST + Ontario Provincial Tax,05c4ffdb-4f84-4cdf-abe5-fdf3216ea74e,2008-04-30 00:00:00.000
3,63,1,14.25,Canadian GST + Quebec Provincial Tax,d4edb557-56d7-403c-b538-4df5e7302588,2008-04-30 00:00:00.000

# **🟢⚡️ Tip 6 - Wildcards**

This tip explains wildcard characters that are used to substitute one or more characters in a string. The logical operator LIKE is used under WHERE clause. There are various wild card characters. Try out some more examples for practise based on the examples below.

- FirstName LIKE 'A\[L\_N\]\_\_'  --\> Retreives FirstNames that starts with 'A' and second letter could be L or N and ends with 2 more letters as there are 2 '\_' (underscore)
- FirstName LIKE '\[A-D\]\_\_' --\> Retreives FirstNames that start from A, B, C or D and ends with 2 more letters as there are 2 '\_' (underscore)
- FirstName LIKE '\[^ABC\]\_\_' --\> Retreives FirstNames that do not start with A, B or C and ends with 2 more letters as there are 2 '\_' (underscore)
- (NAME LIKE '%Bike%') OR (Name LIKE '%Bicycle%') --\> Multiple conditions can be included under one statement using AND/OR operators.

```SQL
USE AdventureWorks2022;
GO

SELECT FirstName
FROM Person.Person
WHERE FirstName LIKE 'A[L_N]__';

```

In [22]:
USE AdventureWorks2022;
GO

SELECT TOP(3) FirstName
FROM Person.Person
WHERE FirstName LIKE 'A[L_N]__'--% is called a Wild Card or placeholder
;

FirstName
Alex
Anna
Anna

# **🟢⚡️ Tip 7 - Placeholders**

We can add extra columns in our SELECT statement that is not available in our result set incase we need an extra columns for future use, or missing data, or if there are details that need to be added and they are called placeholders. Below is an example where a new column 'Manufacturer AS AdventureWorks' is added to the result set showing how placeholders are used.

```SQL
USE AdventureWorks2022;
GO

SELECT Name
        ,ProductNumber
        ,'AdventureWorks' AS 'Manufacturer'
        ,ListPrice
        ,(ListPrice * 0.85) AS SalePrice
FROM Production.[Product]
WHERE ListPrice > 0
;

```

In [8]:
SELECT TOP (3) Name
		,ProductNumber
		,'AdventureWorks' AS 'Manufacturer'
		,ListPrice
		,(ListPrice * 0.85) AS SalePrice
FROM Production.[Product]
WHERE ListPrice > 0
;

Name,ProductNumber,Manufacturer,ListPrice,SalePrice
LL Mountain Seat Assembly,SA-M198,AdventureWorks,133.34,113.339000
ML Mountain Seat Assembly,SA-M237,AdventureWorks,147.14,125.069000
HL Mountain Seat Assembly,SA-M687,AdventureWorks,196.92,167.382000

# **🟡⚡️ Tip 8 - INNER JOIN**

JOINs are performed on multible tables to combine the rows based on a common column. Once the JOIN is succesful, we can retreive column from any table within the JOIN.

In this tip, we are looking at INNER JOIN which returns just the matching columns of the joined tables. 

We will look into table aliasing using a keyword 'AS' (optional), that will be helpful while dealing with long table names. It is always advisable to use the table's short-version name as alias inorder to make better sence of our query. With practice I'm sure you will master aliasing.

We will now INNER JOIN the Person and PersonPhone tables and retreive records that are common to both tables. Notice, the table alias for Person table is p and PersonPhone table is pp and we are retreiving BusinessEntityID,FIrstName, LastName from Person (p) table and PhoneNumber from PersonPhone (pp) table.

The syntax for any query is

SELECT column1\_name, column2\_name, etc

FROM table1\_name

INNER JOIN table2\_name

ON table1\_name.column\_name = table2\_name.column\_name

;

```SQL
USE AdventureWorks2022;
GO

SELECT p.BusinessEntityID
        ,p.FirstName
        ,p.LastName
        ,pp.PhoneNumber
FROM Person.Person AS p
    INNER JOIN Person.PersonPhone AS pp --Can write just JOIN which is 'INNER JOIN' by default
    ON p.BusinessEntityID = pp.BusinessEntityID
;

```

In [10]:
USE AdventureWorks2022;
GO
--with AS keyword on table aliasing
SELECT TOP (3) p.BusinessEntityID
		,p.FirstName
		,p.LastName
		,pp.PhoneNumber
FROM Person.Person AS p
	INNER JOIN Person.PersonPhone AS pp --Can write just JOIN which is 'INNER JOIN' by default
	    ON p.BusinessEntityID = pp.BusinessEntityID
;

BusinessEntityID,FirstName,LastName,PhoneNumber
1,Ken,Sánchez,697-555-0142
2,Terri,Duffy,819-555-0175
3,Roberto,Tamburello,212-555-0187

# **🟡⚡️ Tip 9 - LEFT OUTER JOIN,** **RIGHT OUTER JOIN and FULL OUTER JOIN**

LEFT OUTER JOIN - As the name indicate, this retreives all the matching records from the table on the LEFT side of the join.

RIGHT OUTER JOIN - T<span style="color: var(--vscode-foreground);">his retreives all the matching records from the table on the RIGHT side of the join.</span>

FULL OUTER JOIN retreives all the records that match from either LEFT or RIGHT tables. Hence, the result set for this join is relativesly big. When there is no column data to retreive from one of the JOIN tables, '**_null_**' is retreived as the column data. 

'**_null_**' - does not mean zero value or a space. It simply means that was an optional column type which was left blank during record entry.

<span style="color: var(--vscode-foreground);">It is imperative to understand the logic and requirements before using LEFT, RIGHT&nbsp;</span> <span style="color: var(--vscode-foreground);">or</span> <span style="color: var(--vscode-foreground);">FULL&nbsp;</span> <span style="color: var(--vscode-foreground);">joins.</span>

The syntax for any query is

SELECT column1\_name, column2\_name, etc

FROM table1\_name

LEFT/RIGHT/CROSS OUTER JOIN table2\_name

ON table1\_name.column\_name = table2\_name.column\_name

;

```SQL
USE AdventureWorks2022;
GO
--LEFT OUTER JOIN
SELECT p.BusinessEntityID
        ,p.PersonType
        ,p.FirstName
        ,p.LastName
        ,e.JobTitle
FROM Person.Person AS p
    LEFT OUTER JOIN HumanResources.Employee AS e --can be RIGHT OUTER JOIN or FULL OUTER JOIN based on requirements
    ON p.BusinessEntityID = e.BusinessEntityID
ORDER BY p.BusinessEntityID DESC
;

```

In [26]:
USE AdventureWorks2022;
GO
--LEFT/RIGHT/FULL OUTER JOIN
SELECT TOP (3) p.BusinessEntityID
		,p.PersonType
		,p.FirstName
		,p.LastName
		,e.JobTitle
FROM Person.Person AS p
	LEFT OUTER JOIN HumanResources.Employee AS e --can be RIGHT OUTER JOIN or FULL OUTER JOIN based on requirements
	ON p.BusinessEntityID = e.BusinessEntityID
ORDER BY p.BusinessEntityID DESC
;

BusinessEntityID,PersonType,FirstName,LastName,JobTitle
20777,IN,Crystal,Hu,NULL
20776,IN,Crystal,Zheng,NULL
20775,IN,Crystal,He,NULL

# **🟡⚡️ Tip 10 - Variables**

Variables are used to assign for parameters like in any programming language. They need to be DECLARE first, then SET values and called inside the query. In thgis query, we are using variables to set the number of rows to return and the colour to filter. 

```SQL
USE AdventureWorks2022;
GO

--Declare variables
DECLARE @NoOfRows INT 
DECLARE @Color VARCHAR(20)

--Set values to the variables
SET @NoOfRows = 3;
SET @Color = 'Red';

--calling variables in the query
SELECT TOP (@NoOfRows) p.ProductID
		,p.Name
		,p.ProductNumber
		,p.Color
		,p.ListPrice
FROM Production.Product p
WHERE p.Color = @Color
;

```

In [27]:
--Declare variables
DECLARE @NoOfRows INT 
DECLARE @Color VARCHAR(20)

--Set values to the variables
SET @NoOfRows = 3;
SET @Color = 'Red';

--calling variables in the query
SELECT TOP (@NoOfRows) p.ProductID
		,p.Name
		,p.ProductNumber
		,p.Color
		,p.ListPrice
FROM Production.Product p
WHERE p.Color = @Color
;

ProductID,Name,ProductNumber,Color,ListPrice
706,"HL Road Frame - Red, 58",FR-R92R-58,Red,1431.50
707,"Sport-100 Helmet, Red",HL-U509-R,Red,34.99
717,"HL Road Frame - Red, 62",FR-R92R-62,Red,1431.50

# **🟡⚡️ Tip 11 - GROUP BY and Column Aliasing**

GROUP BY statement is used to group rows that have same values mentioned in the statement. The query below is to fetch how many adresses are listed for each city. 

In the earlier tips on JOIN, we looked into table aliasing and we will now use column aliases on the count using keyword 'AS'. 

The syntax for any query is

SELECT column1\_name, column2\_name, etc

FROM table1\_name

GROUP BY column\_name

;

```SQL
USE AdventureWorks2022;
GO

SELECT a.City
        ,COUNT(*) AS 'AddressCount'
FROM Person.Address a
GROUP BY a.City
ORDER BY AddressCount DESC
;

```

In [23]:
USE AdventureWorks2022;
GO

SELECT TOP (5) a.City
		,COUNT(*) AS 'AddressCount'
FROM Person.Address a
GROUP BY a.City
ORDER BY AddressCount DESC
;

City,AddressCount
London,434
Paris,398
Burien,215
Concord,214
Bellingham,213

# **🟡⚡️ Tip 12 - AGGREGATE Functions**

AGGREGATE functions are used to perform calculation on column values returning an individual value according to the GROUP BY clause. Some common functions are:

- MIN( ) - retreives the smallest of column value
- MAX( ) - retreives the biggest of column value
- AVG( ) - retreives the average of column value
- SUM( ) - retreives the sum of column value
- COUNT( ) - retreives the count of column value

```SQL
SELECT soh.CustomerID
    ,MIN(soh.TotalDue) AS 'LowestAmount'
    ,MAX(soh.TotalDue) AS 'HighestAmount'
    ,AVG(soh.TotalDue) AS 'AvgSpent'
    ,SUM(soh.Freight) AS 'TotalFreightCharges'
    ,COUNT(soh.SalesOrderID) AS 'TotalSalesCount'
FROM Sales.SalesOrderHeader soh
GROUP BY soh.CustomerID
ORDER BY COUNT(soh.SalesOrderID) DESC
;

```

In [20]:
SELECT TOP (3) soh.CustomerID
		,MIN(soh.TotalDue) AS 'LowestAmount'
		,MAX(soh.TotalDue) AS 'HighestAmount'
		,AVG(soh.TotalDue) AS 'AvgSpent'
		,SUM(soh.Freight) AS 'TotalFreightCharges'
		,COUNT(soh.SalesOrderID) AS 'TotalSalesCount'
FROM Sales.SalesOrderHeader soh
GROUP BY soh.CustomerID
ORDER BY COUNT(soh.SalesOrderID) DESC
;

CustomerID,LowestAmount,HighestAmount,AvgSpent,TotalFreightCharges,TotalSalesCount
11176,2.5305,159.6394,52.0932,33.001,28
11091,2.5305,159.6615,46.936,29.7339,28
11287,2.5305,106.1574,47.7634,29.1775,27

# **🟡⚡️ Tip 13 - STRING Functions**

STRING functions are used to manipulate column values returning required string value mentioned in the arguments. Some common functions are:

- CONCAT( ) - concats different string columns
- CONCAT\_WS( ) - concats columns with a common seperator
- UPPER, LOWER( ) - converts strings to Upper or Lower case
- LEN( ) - returns the length of the string
- TRIM( ) - removes extra spaces 
- SUBSTRING( ) - returns specified number of characters from the specified position. **_Note_**: SQL positions start from \[1\]. Observe the query below.
- GREATEST( ) - Returns the highest first-letter among the arguments i.e., in descending order
- LEAST( ) - Returns the least first-letter among the arguments i.e., in ascending order

```SQL
USE AdventureWorks2022;
GO

SELECT CONCAT(p.FirstName,' ',p.MiddleName, ' ' ,p.LastName) AS 'CustomerFullName' --inserts extra space when there is no middle name
        ,CONCAT_WS(' ', p.FirstName, p.MiddleName, p.LastName) AS 'WithSeperator'
        ,UPPER(CONCAT(p.FirstName,' ',p.LastName)) AS 'Uppercase'
        ,LOWER(CONCAT(p.FirstName,' ',p.LastName)) AS 'Lowercase'
        ,LEN(CONCAT(p.FirstName,' ',p.LastName)) AS 'Length'
        ,LEFT(CONCAT(p.FirstName,' ',p.LastName), 3) AS 'First3Letters'
        ,RIGHT(CONCAT(p.FirstName,' ',p.LastName), 3) AS 'Last3Letters'
        ,TRIM(CONCAT(p.FirstName,' ',p.LastName)) AS 'TrimmedName' --removes extra spaces. Other fns LTRIM, RTRIM
        ,SUBSTRING(p.FirstName, 1, 5) AS 'Using Substring'
        ,GREATEST(FirstName, LastName) AS 'DescendingAlphabetically'
        ,LEAST(FirstName, LastName) AS 'AscendingAlphabetically'
FROM Person.Person p
;

```

In [2]:
USE AdventureWorks2022;
GO

SELECT TOP (3) CONCAT(p.FirstName,' ',p.MiddleName, ' ' ,p.LastName) AS 'CustomerFullName' --inserts extra space when there is no middle name
		,CONCAT_WS(' ', p.FirstName, p.MiddleName, p.LastName) AS 'WithSeperator'
		,UPPER(CONCAT(p.FirstName,' ',p.LastName)) AS 'Uppercase'
		,LOWER(CONCAT(p.FirstName,' ',p.LastName)) AS 'Lowercase'
		,LEN(CONCAT(p.FirstName,' ',p.LastName)) AS 'Length'
		,LEFT(CONCAT(p.FirstName,' ',p.LastName), 3) AS 'First3Letters'
		,RIGHT(CONCAT(p.FirstName,' ',p.LastName), 3) AS 'Last3Letters'
		,TRIM(CONCAT(p.FirstName,' ',p.LastName)) AS 'TrimmedName' --removes extra spaces. Other fns LTRIM, RTRIM
		,SUBSTRING(p.FirstName, 1, 5) AS 'Using Substring'
		,GREATEST(FirstName, LastName) AS 'DescendingAlphabetically'
		,LEAST(FirstName, LastName) AS 'AscendingAlphabetically'
FROM Person.Person p
;

CustomerFullName,WithSeperator,Uppercase,Lowercase,Length,First3Letters,Last3Letters,TrimmedName,Using Substring,DescendingAlphabetically,AscendingAlphabetically
Syed E Abbas,Syed E Abbas,SYED ABBAS,syed abbas,10,Sye,bas,Syed Abbas,Syed,Syed,Abbas
Catherine R. Abel,Catherine R. Abel,CATHERINE ABEL,catherine abel,14,Cat,bel,Catherine Abel,Cathe,Catherine,Abel
Kim Abercrombie,Kim Abercrombie,KIM ABERCROMBIE,kim abercrombie,15,Kim,bie,Kim Abercrombie,Kim,Kim,Abercrombie

# **🟡⚡️ Tip 14 - Mathematical Functions**

Mathematical functions are used to alter column values and return results based on the criteria specified in the arguments. Some common functions are:

- <span style="color: var(--vscode-foreground);">ROUND( ) - Rounds&nbsp; the column data to the specified precision as the second argument. Precision can be positive or a negative number. Positive precision number rounds the values after the decimal point. Negative precision number rounds the value before decimal point.</span>
    
- CEILING( ) - Converts the decimal values to the next highest number
    
- FLOOR( ) - <span style="color: var(--vscode-foreground);">Converts the decimal values to the previous lowest number</span>
    

Let's look at the query first and for better understanding practise the precision arguments with different values (positive and negative). 

```SQL
USE AdventureWorks2022;
GO 

SELECT sp.BusinessEntityID
        ,sp.SalesYTD
        ,ROUND(sp.SalesYTD, 2) AS 'Round2'
        ,ROUND(sp.SalesYTD, -2) AS 'Round100'
        ,CEILING(sp.SalesYTD) AS 'RoundCeiling'
        ,FLOOR(sp.SalesYTD) AS 'RoundFloor'
FROM Sales.SalesPerson sp
;

```

In [2]:
USE AdventureWorks2022;
GO

SELECT TOP (3) sp.BusinessEntityID
		,sp.SalesYTD
		,ROUND(sp.SalesYTD, 2) AS 'Round2'
		,ROUND(sp.SalesYTD, -2) AS 'Round100'
		,CEILING(sp.SalesYTD) AS 'RoundCeiling'
		,FLOOR(sp.SalesYTD) AS 'RoundFloor'
FROM Sales.SalesPerson sp
;

BusinessEntityID,SalesYTD,Round2,Round100,RoundCeiling,RoundFloor
274,559697.5639,559697.56,559700.00,559698.00,559697.00
275,3763178.1787,3763178.18,3763200.00,3763179.00,3763178.00
276,4251368.5497,4251368.55,4251400.00,4251369.00,4251368.00

# **🟡⚡️ Tip 15 - Date Functions**

In SQL, there are several DATE functions and variety of arguments on the same function retrieves completely different result sets. 

Some DATE functions are GETDATE( ), YEAR<span style="color: var(--vscode-foreground);">( ), MONTH</span><span style="color: var(--vscode-foreground);">( ), DATEDIFF</span><span style="color: var(--vscode-foreground);">( )</span><span style="color: var(--vscode-foreground);">, FORMAT</span><span style="color: var(--vscode-foreground);">( ), DATEPART( ). Observe the example query to understand the functionality for these functions.</span>

```SQL
USE AdventureWorks2022;
GO

SELECT e.BusinessEntityID
        ,e.HireDate
        ,YEAR(e.HireDate) AS 'Year'
        ,MONTH(e.HireDate)  AS 'Month'
        ,DAY(e.HireDate) AS 'Day'
        ,GETDATE() AS 'TodaysDate'
        ,DATEDIFF(day,e.HireDate,GETDATE()) AS 'DaysSinceHire'
        ,DATEDIFF(year,e.HireDate,GETDATE()) AS 'YearsSinceHire'
        ,DATEADD(year, 10, e.HireDate) AS 'Anniversary'
        ,FORMAT(e.HireDate, 'dddd,MMMM dd,yyyy') AS 'FullHireDate'
        ,FORMAT(e.HireDate, 'dd,MMM ddd,yy') AS 'ShortHireDate'
FROM HumanResources.Employee e
;

```

In [4]:
USE AdventureWorks2022;
GO

SELECT TOP (3) e.BusinessEntityID
		,e.HireDate
		,YEAR(e.HireDate) AS 'Year'
		,MONTH(e.HireDate)  AS 'Month'
		,DAY(e.HireDate) AS 'Day'
		,GETDATE() AS 'TodaysDate'
		,DATEDIFF(day,e.HireDate,GETDATE()) AS 'DaysSinceHire'
		,DATEDIFF(year,e.HireDate,GETDATE()) AS 'YearsSinceHire'
		,DATEADD(year, 10, e.HireDate) AS 'Anniversary'
		,FORMAT(e.HireDate, 'dddd,MMMM dd,yyyy') AS 'FullHireDate'
		,FORMAT(e.HireDate, 'dd,MMM ddd,yy') AS 'ShortHireDate'
FROM HumanResources.Employee e
;

BusinessEntityID,HireDate,Year,Month,Day,TodaysDate,DaysSinceHire,YearsSinceHire,Anniversary,FullHireDate,ShortHireDate
1,2009-01-14,2009,1,14,2024-10-29 16:43:11.167,5767,15,2019-01-14,"Wednesday,January 14,2009","14,Jan Wed,09"
2,2008-01-31,2008,1,31,2024-10-29 16:43:11.167,6116,16,2018-01-31,"Thursday,January 31,2008","31,Jan Thu,08"
3,2007-11-11,2007,11,11,2024-10-29 16:43:11.167,6197,17,2017-11-11,"Sunday,November 11,2007","11,Nov Sun,07"

# **🟡⚡️ Tip 16 - NEWID Function**

NEWID is an interesting function that creates a new column and populates a unique index values. This function is used when you have to retreive a random set of records as results for each execution thereby avoiding a selection bias. Run the below code block as many time as you need to observe the random result set.

```SQL
USE AdventureWorks2022;
GO

--NEWID() --> used to pull randon records from the table. results change for each execution
--used to avoid selection bias
SELECT wo.WorkOrderID
        ,NEWID() AS 'NewID'
FROM Production.WorkOrder wo
ORDER BY NewID
;

```

In [6]:
USE AdventureWorks2022;
GO

--NEWID() --> used to pull randon records from the table. results change for each execution
--used to avoid selection bias
SELECT TOP(3) wo.WorkOrderID
		,NEWID() AS 'NewID'
FROM Production.WorkOrder wo
ORDER BY NewID
;

WorkOrderID,NewID
5184,15a9d54c-a8fd-4d09-9abd-000012ff7914
56941,e2c3c035-6563-49c4-a914-0002b2a20152
34721,06da49be-e324-4cca-9e43-00036f75a425

# **🟡⚡️ Tip 17 - IIF Function**

IIF function can be explained as 'IF - THEN - ELSE' statement. The syntax is IIF(boolean\_condition, value\_when\_true, value\_when\_false) and GROUP BY clause can also be used in IIF statements.

```SQL
SELECT sp.BusinessEntityID
        ,sp.SalesYTD
        ,IIF(sp.SalesYTD > 2000000, 'MetGoals', 'NotMetGoals') AS 'Status'  --IIF(IF, THEN, ELSE)
FROM Sales.SalesPerson sp
;

--We can use GROUP BY clause on IIF()
SELECT IIF(sp.SalesYTD > 2000000, 'MetGoals', 'NotMetGoals') AS 'Status'  --IIF(IF, THEN, ELSE)
        ,COUNT(*)
FROM Sales.SalesPerson sp
GROUP BY IIF(sp.SalesYTD > 2000000, 'MetGoals', 'NotMetGoals')
;

```

In [7]:
USE AdventureWorks2022;
GO

SELECT TOP (3) sp.BusinessEntityID
		,sp.SalesYTD
		,IIF(sp.SalesYTD > 2000000, 'MetGoals', 'NotMetGoals') AS 'Status'  --IIF(IF, THEN, ELSE)
FROM Sales.SalesPerson sp
;

--We can use GROUP BY clause on IIF()
SELECT IIF(sp.SalesYTD > 2000000, 'MetGoals', 'NotMetGoals') AS 'Status'  --IIF(IF, THEN, ELSE)
		,COUNT(*)
FROM Sales.SalesPerson sp
GROUP BY IIF(sp.SalesYTD > 2000000, 'MetGoals', 'NotMetGoals')
;

BusinessEntityID,SalesYTD,Status
274,559697.5639,NotMetGoals
275,3763178.1787,MetGoals
276,4251368.5497,MetGoals

Status,(No column name)
MetGoals,8
NotMetGoals,9

# **🟡⚡️ Tip 18 - DISTINCT**

DISTINCT is a reserved key word that limits the result set to have UNIQUE rows including null values which gets accounted once. This is used to see the a single entry of all column values when there is a chance of duplicate values. 

In this example we are fetching the Cities along with how many times they are repeated under the Person.Address table.

```SQL
SELECT DISTINCT City
        ,COUNT(City) AS 'CityCount'
FROM Person.Address
GROUP BY City
ORDER BY CityCount DESC
;

```

In [1]:
SELECT DISTINCT TOP (3) City
		,COUNT(City) AS 'CityCount'
FROM Person.Address
GROUP BY City
ORDER BY CityCount DESC
;

City,CityCount
London,434
Paris,398
Burien,215

# **🟠⚡️ Tip 19 - CASTING**

CAST is simply used to convert the data types or tune the column data. Example data types are INT, FLOAT, TINYINT, MONEY, VARCHAR, DECIMAL etc. Let's look at the query.

```SQL
USE AdventureWorks2022;
GO

SELECT soh.SalesOrderID
        ,soh.OrderDate
        ,CAST(soh.OrderDate AS DATE) as 'OrderDateAfterCAST'
        ,soh.SubTotal
        ,soh.CreditCardApprovalCode
        --Casting non-numeric values will throw and Error
        --CAST(soh.CreditCardApprovalCode AS FLOAT)
        ,CAST(soh.SubTotal AS INT) AS 'SubTotalDueAfterCAST'
        ,soh.TaxAmt
        ,CAST(soh.TaxAmt AS DECIMAL(10, 1)) AS 'TaxAmtAfterCast'
FROM Sales.SalesOrderHeader soh
;

```

In [2]:
USE AdventureWorks2022;
GO

SELECT TOP (3) soh.SalesOrderID
		,soh.OrderDate
		,CAST(soh.OrderDate AS DATE) as 'OrderDateAfterCAST'
		,soh.SubTotal
		,soh.CreditCardApprovalCode
		--Casting non-numeric values will throw and Error
		--CAST(soh.CreditCardApprovalCode AS FLOAT)
		,CAST(soh.SubTotal AS INT) AS 'SubTotalDueAfterCAST'
		,soh.TaxAmt
		,CAST(soh.TaxAmt AS DECIMAL(10, 1)) AS 'TaxAmtAfterCast'
FROM Sales.SalesOrderHeader soh
;

SalesOrderID,OrderDate,OrderDateAfterCAST,SubTotal,CreditCardApprovalCode,SubTotalDueAfterCAST,TaxAmt,TaxAmtAfterCast
43659,2011-05-31 00:00:00.000,2011-05-31,20565.6206,105041Vi84182,20566,1971.5149,1971.5
43660,2011-05-31 00:00:00.000,2011-05-31,1294.2529,115213Vi29411,1294,124.2483,124.2
43661,2011-05-31 00:00:00.000,2011-05-31,32726.4786,85274Vi6854,32726,3153.7696,3153.8

# **🟠⚡️ Tip 20 - CASE Statement**

In the earlier tips, we looked into IIF( ) function which works on a single column value. CASE statements are also work on 'IF - THEN - ELSE' logic by handling multiple column vales. 

The syntax for CASE is:

CASE column\_name

WHEN condition1 THEN result1

WHEN condition2 THEN result2

...............................................................

ELSE RESULT

END;

In this query, the CASE statement is applied on MaritalStatus and Salaried Flag columns

```SQL
USE AdventureWorks2022;
GO

SELECT e.BusinessEntityID
        ,e.MaritalStatus
        ,CASE e.MaritalStatus
            WHEN 'S' THEN 'Single'
            WHEN 'M' THEN 'Married'
            ELSE 'Unknown'
        END AS 'CASEMaritalStatus'
        ,e.SalariedFlag
        ,CASE e.SalariedFlag
            WHEN '1' THEN 'AnnualPay'
            WHEN '0' THEN 'HourlyPay'
            ELSE 'NoPay'
        END AS 'CASEPayStatus'
FROM HumanResources.Employee e
;

```

In [3]:
USE AdventureWorks2022;
GO

SELECT TOP (5) e.BusinessEntityID
		,e.MaritalStatus
		,CASE e.MaritalStatus
			WHEN 'S' THEN 'Single'
			WHEN 'M' THEN 'Married'
			ELSE 'Unknown'
		END AS 'CASEMaritalStatus'
		,e.SalariedFlag
		,CASE e.SalariedFlag
			WHEN '1' THEN 'AnnualPay'
			WHEN '0' THEN 'HourlyPay'
			ELSE 'NoPay'
		END AS 'CASEPayStatus'
FROM HumanResources.Employee e
;

BusinessEntityID,MaritalStatus,CASEMaritalStatus,SalariedFlag,CASEPayStatus
1,S,Single,1,AnnualPay
2,S,Single,1,AnnualPay
3,M,Married,1,AnnualPay
4,S,Single,0,HourlyPay
5,M,Married,1,AnnualPay

# **🟠⚡️ Tip 21 - SUBQUERY**

Subqueries are also known as inner query or nested query. While working with Subqueries, it is recommeded to work the inner query first and then amend that to the outer query. On the inner querym we will fetch the MAX(SalesYTD) of the column and then use another subwuery to find the difference.

```SQL
USE AdventureWorks2022;
GO

--working the inner query first
SELECT MAX(sp.SalesYTD)
FROM Sales.SalesPerson sp
;

```
```
USE AdventureWorks2022;
GO
--Subqueries
SELECT sp.BusinessEntityID
        ,sp.SalesYTD
        ,(SELECT MAX(sp.SalesYTD)
            FROM Sales.SalesPerson sp) AS 'MaxSalesYTD'
        ,(SELECT MAX(sp.SalesYTD)
            FROM Sales.SalesPerson sp) - sp.SalesYTD AS 'Difference'
FROM Sales.SalesPerson sp
ORDER BY sp.SalesYTD DESC
;

```

In [5]:
USE AdventureWorks2022;
GO
--Subqueries
SELECT TOP (3) sp.BusinessEntityID
		,sp.SalesYTD
		,(SELECT MAX(sp.SalesYTD)
			FROM Sales.SalesPerson sp) AS 'MaxSalesYTD'
		,(SELECT MAX(sp.SalesYTD)
			FROM Sales.SalesPerson sp) - sp.SalesYTD AS 'Difference'
FROM Sales.SalesPerson sp
ORDER BY sp.SalesYTD DESC
;

BusinessEntityID,SalesYTD,MaxSalesYTD,Difference
276,4251368.5497,4251368.5497,0.00
289,4116871.2277,4251368.5497,134497.322
275,3763178.1787,4251368.5497,488190.371

# **🟠⚡️ Tip 22 - CORRELATED Subquery**

When a subquery in WHERE clause is referenced to a subquery in SELECT statement. In simple words, CORRELATED subquery is the filter.

In this query, JobTitle is fetched from HumanResources.Employee table using the innerquery which is referenced to the outer query on Person.Person table. FInally inside the WHERE clause, the NULL values are filtered out. 

CORRELATED subqueries impact the performance as the inner query executes for each row of the outer query.

```SQL
USE AdventureWorks2022;
GO

SELECT MyPerson.BusinessEntityID
        ,MyPerson.FirstName + ' ' + MyPerson.LastName AS 'Name'
        ,(SELECT e.JobTitle 
          FROM HumanResources.Employee e
          WHERE e.BusinessEntityID = MyPerson.BusinessEntityID
          ) AS 'JobTitle'
FROM Person.Person AS MyPerson
WHERE (SELECT e.JobTitle 
       FROM HumanResources.Employee e
       WHERE e.BusinessEntityID = MyPerson.BusinessEntityID
      ) IS NOT NULL
;

```

In [6]:
USE AdventureWorks2022;
GO

SELECT TOP (3) MyPerson.BusinessEntityID
		,MyPerson.FirstName + ' ' + MyPerson.LastName AS 'Name'
		,(SELECT e.JobTitle 
		  FROM HumanResources.Employee e
		  WHERE e.BusinessEntityID = MyPerson.BusinessEntityID
		  ) AS 'JobTitle'
FROM Person.Person AS MyPerson
WHERE (SELECT e.JobTitle 
	   FROM HumanResources.Employee e
	   WHERE e.BusinessEntityID = MyPerson.BusinessEntityID
	  ) IS NOT NULL
;

BusinessEntityID,Name,JobTitle
1,Ken Sánchez,Chief Executive Officer
2,Terri Duffy,Vice President of Engineering
3,Roberto Tamburello,Engineering Manager

# **🟠⚡️ Tip 23 - Federated Queries**

Federated queries are used to write queries across multiple data bases. They are similar to any SQL JOINS with the only exception of a Fully Qualified Name (FQN) instead of table name.

For example, Fully Qualified Name (FQN) means Table 1 - "Northwind\_2023.dbo.Orders", Table 2 - "w3schools\_tutor3.dbo.Shippers". So far, in our tips, we used AdventureWorks2022 as our database but for this query we will use Northwind\_2023 and <span style="color: var(--vscode-foreground);">w3schools_tutor3.</span>

```SQL
SELECT  sh.ShipperName AS 'Shipper Name'
        ,COUNT(*) AS 'Order Count'
FROM Northwind_2023.dbo.Orders ord
    INNER JOIN w3schools_tutor3.dbo.Shippers sh
    ON ord.ShipVia = sh.ShipperID
GROUP BY sh.ShipperName
ORDER BY [Order Count] DESC --need square brackets as there is spacein between
;

```

In [7]:
SELECT TOP (3) sh.ShipperName AS 'Shipper Name'
		,COUNT(*) AS 'Order Count'
FROM Northwind_2023.dbo.Orders ord
	INNER JOIN w3schools_tutor3.dbo.Shippers sh
	ON ord.ShipVia = sh.ShipperID
GROUP BY sh.ShipperName
ORDER BY [Order Count] DESC --need square brackets as there is spacein between
;

Shipper Name,Order Count
United Package,326
Federal Shipping,255
Speedy Express,249

# **🟠⚡️ Tip 24 - VIEWs**

VIEW are created to eliminate repeated writing of same query across multiple tables. Once a view is created it can be treated as a regular table to fetch data. 

Note: Without ALTER keyword the views cannot be modified

```SQL
USE Northwind_2023;
GO

CREATE or ALTER VIEW dbo.ProductPerf as
SELECT (o.OrderID * 10000)+(od.ProductID) as'pkOrdersPat'
        ,o.OrderID as 'OrderID'
        ,CAST(o.OrderDate as DATE) as 'OrderDate' --removing timestamp
        ,od.ProductID as 'ProductID'
        ,od.UnitPrice as 'UnitPrice'
        ,od.Quantity as 'Quantity'
        ,od.Discount as 'Discount'
        ,CASE
            WHEN od.UnitPrice = 0 THEN od.UnitPrice * od.Quantity
            ELSE od.UnitPrice * od.Quantity * (1 - od.discount)
        END as 'LineTotal'
FROM dbo.Orders o
    INNER JOIN dbo.OrderDetails od
    ON o.OrderID = od.OrderID
;

```
```
--Query to fecth results from the View
SELECT *
FROM dbo.vwProductPerf vpp
WHERE YEAR(vpp.OrderDate) = '2023'
    AND (vpp.Quantity > 15)
    AND vpp.Discount > 0
ORDER BY vpp.LineTotal DESC
;

```

In [10]:
USE Northwind_2023;
GO

CREATE or ALTER VIEW dbo.vwProductPerf as
SELECT (o.OrderID * 10000)+(od.ProductID) as'pkOrdersPat'
		--,CAST(CONCAT(o.OrderID,od.productID) as int) as 'pkOrderID' --anotherway but no growth
		,o.OrderID as 'OrderID'
		,CAST(o.OrderDate as DATE) as 'OrderDate' --removing timestamp
		,od.ProductID as 'ProductID'
		,od.UnitPrice as 'UnitPrice'
		,od.Quantity as 'Quantity'
		,od.Discount as 'Discount'
		,CASE
			WHEN od.UnitPrice = 0 THEN od.UnitPrice * od.Quantity
			--WHEN od.UnitPrice > 0 THEN od.UnitPrice * od.Quantity
			ELSE od.UnitPrice * od.Quantity * (1 - od.discount)
		END as 'LineTotal'
FROM dbo.Orders o
	INNER JOIN dbo.OrderDetails od
	ON o.OrderID = od.OrderID
;

In [15]:
--Query to fecth results from the View
SELECT TOP (3) *
FROM dbo.vwProductPerf vpp
WHERE YEAR(vpp.OrderDate) = '2023'
	AND (vpp.Quantity > 15)
	AND vpp.Discount > 0
ORDER BY vpp.LineTotal DESC
;

pkOrdersPat,OrderID,OrderDate,ProductID,UnitPrice,Quantity,Discount,LineTotal
108650038,10865,2023-02-02,38,263.50,60,0.05,15019.5
108160038,10816,2023-01-06,38,263.50,30,0.05,7509.75
109120029,10912,2023-02-26,29,123.79,60,0.25,5570.55

# **🟠⚡️ Tip 25 - CTE (Common Table Expression)**

CTEs are same as view but they are NOT stored (temporary tables). They exist per execution and clears the memory right after completion. It is a must to execute the query and dependant CTE as a single block of code. In this example, the code block is placed in between GO - GO statements for understanding.

```SQL
USE Northwind_2023;
GO 

GO
WITH MGRCTE AS(
SELECT mgr.EmployeeID as 'MgrID'
		,concat(mgr.FirstName,' ',mgr.LastName) as 'Manager'
		,mgr.Title as 'Title'
FROM dbo.Employees mgr
WHERE mgr.EmployeeID IN 
		(SELECT distinct e.ReportsTo from Employees e)
)
SELECT TOP (3) emp.EmployeeID
		,CONCAT(emp.FirstName,' ',emp.LastName) as 'ManagerName'
		,emp.Title as 'Title'
		,ISNULL(mgr.Manager, 'BOD') as 'Manager'
		,ISNULL(mgr.Title, 'Board Of Directors') as 'Title'
FROM dbo.Employees as emp
	LEFT OUTER JOIN MGRCTE as mgr
	ON emp.ReportsTo = mgr.MgrID
;
GO

```

In [2]:
USE Northwind_2023;
GO 

GO
WITH MGRCTE AS(
SELECT mgr.EmployeeID as 'MgrID'
		,concat(mgr.FirstName,' ',mgr.LastName) as 'Manager'
		,mgr.Title as 'Title'
FROM dbo.Employees mgr
WHERE mgr.EmployeeID IN 
		(SELECT distinct e.ReportsTo from Employees e)
)
SELECT TOP (3) emp.EmployeeID
		,CONCAT(emp.FirstName,' ',emp.LastName) as 'ManagerName'
		,emp.Title as 'Title'
		,ISNULL(mgr.Manager, 'BOD') as 'Manager'
		,ISNULL(mgr.Title, 'Board Of Directors') as 'Title'
FROM dbo.Employees as emp
	LEFT OUTER JOIN MGRCTE as mgr
	ON emp.ReportsTo = mgr.MgrID
;
GO

EmployeeID,ManagerName,Title,Manager,Title
1,Nancy Davolio,Sales Representative,Andrew Fuller,"Vice President, Sales"
2,Andrew Fuller,"Vice President, Sales",BOD,Board Of Directors
3,Janet Leverling,Sales Representative,Andrew Fuller,"Vice President, Sales"